html,
body {
    height: auto;
    overflow: auto !important;
}

.main {
    align-content: center;
    align-items: center;
    background: #fcf8f3;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: center;
    margin: 0px 0px 100px 0px;
    width: 100%;
    max-width: 100%;
    z-index: 1;
}

.about {
    align-content: flex-start;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.0);
    border-radius: 10px;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: flex-start;
    margin: 100px 0px 100px 0px;
    padding: 64px 56px 40px 56px;
    width: 80%;
    max-width: 70%;
}

.doc-title {
    font-size: 50px;
    margin: auto;
}

.docPart-title {
    margin-top: 6%;
    font-size: 25px;
    color: #333;
    line-height: 1.6;
}

.docPart {
    align-content: flex-start;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.0);
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: flex-start;
    margin: 48px 0px 0px 0px;
    width: 100%;
    max-width: 100%;
}

/* docpart 1 */

.docTable {
    width: 100%;
    border-collapse: collapse;
    margin: 24px 0;
    font-size: 16px;
    color: #333;
}

.docTable th,
.docTable td {
    text-align: left;
    padding: 10px 12px;
    vertical-align: top;
    border-bottom: 1px solid #ddd;
    font-weight: normal;
}

.docTable th {
    width: 160px;
    background-color: #f9f9f9;
    font-weight: bold;
}

.subheading {
    color: #282828;
    font-family: var(--s-font-b6ace02c);
    font-size: 28px;
    font-weight: 400;
    height: auto;
    letter-spacing: 0.05em;
    font-size: 25px;
    margin-top: 32px;
    margin-bottom: 15px;
}

.txt1 {
    font-size: 20px;
    color: #282828;
    font-family: var(--s-font-b6ace02c);
    font-size: 20px;
    height: auto;
    letter-spacing: 0.05em;
    line-height: 1.6;
}

/* 3 */

.docTable3 {
    width: 100%;
    border-collapse: collapse;
    margin: 24px 0;
    font-size: 20px;
    color: #282828;
    font-family: var(--s-font-b6ace02c);
    font-size: 20px;
    height: auto;
    letter-spacing: 0.05em;
    line-height: 1.6;
}

.docTable3 th,
.docTable3 td {
    text-align: left;
    padding: 8px 12px;
    vertical-align: top;
    font-size: 20px;
    color: #282828;
    font-family: var(--s-font-b6ace02c);
    font-size: 20px;
    height: auto;
    letter-spacing: 0.05em;
    line-height: 1.6;
}

.docTable3 th {
    width: 200px;
    background-color: #f9f9f9;
    font-weight: bold;
}

.consultList {
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px;
    font-size: 20px;
    color: #282828;
    font-family: var(--s-font-b6ace02c);
    font-size: 20px;
    margin: auto;
    height: auto;
    letter-spacing: 0.05em;
    line-height: 1.6;
    width: 70%;
}

.consultList li {
    line-height: 1.6;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.consultList li::before {
    content: "";
}

.clinicContacts {
    font-size: 20px;
    color: #282828;
    font-family: var(--s-font-b6ace02c);
    height: auto;
    letter-spacing: 0.05em;
    line-height: 1.6;
    margin-top: 16px;
}

.clinicContacts b {
    line-height: 1.6;
    font-weight: bold;
}

/* 4 */

.doc-subnote {
    font-size: 20px;
    color: #282828;
    font-family: var(--s-font-b6ace02c);
    height: auto;
    letter-spacing: 0.05em;
    line-height: 1.6;
    margin-bottom: 16px;
}

.table-basic {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 20px;
    color: #282828;
    font-family: var(--s-font-b6ace02c);
    height: auto;
    letter-spacing: 0.05em;
    line-height: 1.6;
}

.table-basic th,
.table-basic td {
    border: 1px solid #888;
    padding: 6px 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 1.4;
}

.table-basic th {
    background-color: #f1f1f1;
    font-weight: bold;
}

.doc-notes {
    font-size: 20px;
    color: #282828;
    font-family: var(--s-font-b6ace02c);
    height: auto;
    letter-spacing: 0.05em;
    margin-top: 24px;
    padding-left: 20px;
}

.doc-notes li {
    list-style-type: "＊ ";
    line-height: 1.6;
}

/* 5 */

.doc-title {
    font-weight: 700;
    margin-bottom: 8px;
}

.doc-text {
    margin: 4px 0 12px;
    font-size: 20px;
    color: #282828;
    font-family: var(--s-font-b6ace02c);
    line-height: 1.6;
    height: auto;
    letter-spacing: 0.05em;

}

.doc-list {
    list-style: none;
    counter-reset: arabicCounter;
    ;
    margin-left: 2em;
    padding: 0;
}

.doc-list li {
    counter-increment: arabicCounter;
    ;
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px;
    font-size: 20px;
    color: #282828;
    font-family: var(--s-font-b6ace02c);
    font-size: 20px;
    height: auto;
    letter-spacing: 0.05em;
    line-height: 1.6;
    width: 70%;
}

.doc-list li::before {
    content: '(' counter(arabicCounter) ') ';
    line-height: 1.6;
}

.doc-sign {
    font-size: 20px;
    color: #282828;
    font-family: var(--s-font-b6ace02c);
    line-height: 1.6;
    height: auto;
    letter-spacing: 0.05em;
    text-decoration: underline;
}

.doc-choice {
    text-decoration: none;
    padding-left: 1.5em;
}


/* end */
.doc-business {
    font-size: 20px;
    /* same as screenshot */
    line-height: 1.9;
    margin-top: 24px;
}

.doc-lead {
    margin-bottom: 20px;
}

.doc-date {
    margin: 12px 0 28px;
    letter-spacing: 0.05em;

}

.biz-block {
    margin: auto;
}

.biz-row {
    display: flex;
    align-items: flex-start;
    gap: 3.5em;
    margin: 26px 0;
}

.biz-label {
    min-width: 5em;
    white-space: nowrap;
}

.biz-value {
    flex: 1;
}


.biz-seal {
    margin-left: auto;
    padding-right: 3.5em;
}

/* ======================   */
.doc-agreement {
    font-size: 20px;
    line-height: 1.9;
    margin-top: 32px;
}

.agree-text {
    margin-bottom: 18px;
    line-height: 1.6;
}

.agree-date {
    margin: 12px 0 26px;
    letter-spacing: 0.05em;
}

.sign-block {
    margin: auto;
}

.role-label {
    font-weight: 700;
    margin: 14px 0 6px;
}

.field-row {
    display: flex;
    align-items: baseline;
    gap: 1.8em;
    margin: 10px 0 0 26px;
}

.field-label {
    min-width: 3em;
    white-space: nowrap;
}

.field-line {
    display: inline-block;
    border-bottom: 1px solid #000;
    vertical-align: middle;
}


.line-long {
    width: 280px;
}

.line-mid {
    width: 200px;
}

.seal {
    margin-left: 1.5em;
}



/* Responsive Design */
@media screen and (max-width: 1024px) {

    /* scroll */
    .table-basic {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 18px;
        color: #282828;
        font-family: var(--s-font-b6ace02c);
        line-height: 1.6;
    }

    .table-basic th,
    .table-basic td {
        border: 1px solid #888;
        padding: 6px 10px;
        text-align: center;
        vertical-align: middle;
    }

    .table-basic th {
        background-color: #f1f1f1;
        font-weight: bold;
        white-space: nowrap;
    }

    .table-scroll {
        overflow-x: auto;
        width: 100%;
    }

    /* ============== */
    .about {
        width: 80%;
        max-width: 90%;
    }

    .doc-title {
        font-size: 36px;
    }

    .docPart-title {
        font-size: 16px;
    }

    /* docpart 1 */

    .docTable {
        font-size: 12px;
    }

    .subheading {
        font-size: 16px;
        font-size: 16px;
        margin-top: 32px;
        margin-bottom: 15px;
    }


    .txt1 {
        font-size: 16px;
        font-size: 16px;
    }

    /* 3 */

    .docTable3 {
        margin: 16px 0;
        font-size: 20px;
    }

    .docTable3 th,
    .docTable3 td {
        font-size: 16px;
    }

    .consultList {
        font-size: 16px;
        width: 100%;
        margin: 0;
    }

    .clinicContacts {
        font-size: 16px;
        margin-top: 16px;
    }

    /* 4 */

    .doc-subnote {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .table-basic {
        margin: 20px 0;
        font-size: 16px;
    }

    .table-basic th,
    .table-basic td {
        padding: 6px 10px;
    }

    .doc-notes {
        font-size: 16px;
        margin-top: 24px;
        padding-left: 20px;
    }

    /* 5 */

    .doc-title {
        margin-bottom: 8px;
    }

    .doc-text {
        margin: 4px 0 12px;
        font-size: 16px;
    }

    .doc-list {
        margin-left: 2em;
    }

    .doc-list li {
        margin-bottom: 20px;
        font-size: 16px;
        width: 70%;
    }

    .doc-sign {
        font-size: 16px;
    }

    .doc-choice {
        padding-left: 1.5em;
    }

    .doc-business {
        font-size: 16px;
        margin-top: 24px;
    }

    .doc-lead {
        margin-bottom: 20px;
    }

    .doc-date {
        margin: 12px 0 28px;
    }


    .biz-row {
        gap: 3.5em;
        margin: 26px 0;
    }

    .biz-label {
        min-width: 5em;
    }

    .biz-seal {
        padding-right: 3.5em;
    }

    .doc-agreement {
        font-size: 16px;
        margin-top: 32px;
    }

}

@media screen and (max-width: 768px) {
    .about {
        padding: 40px 24px 32px;
        width: 94%;
    }
}

@media screen and (max-width: 425px) {

    /* ============== */
    .about {
        width: 80%;
        max-width: 100%;
    }

    .doc-title {
        font-size: 16px;
    }

    .docPart-title {
        font-size: 12px;
    }

    /* docpart 1 */

    .docTable {
        font-size: 12px;
    }

    .subheading {
        font-size: 12px;
        margin-top: 14px;
        margin-bottom: 6px;
    }


    .txt1 {
        font-size: 12px;
    }

    /* 3 */

    .docTable3 {
        margin: 6px 0;
        font-size: 14px;
    }

    .docTable3 th,
    .docTable3 td {
        font-size: 12px;
    }

    .consultList {
        font-size: 12px;
        width: 100%;
        margin: 0;
    }

    .clinicContacts {
        font-size: 12px;
        margin-top: 6px;
    }

    /* 4 */

    .doc-subnote {
        font-size: 12px;
        margin-bottom: 6px;
    }

    .table-basic {
        margin: 10px 0;
        font-size: 12px;
    }

    .table-basic th,
    .table-basic td {
        padding: 6px 10px;
    }

    .doc-notes {
        font-size: 12px;
        margin-top: 12px;
        padding-left: 20px;
    }

    /* 5 */

    .doc-title {
        margin-bottom: 8px;
    }

    .doc-text {
        margin: 0px 0 3px;
        font-size: 12px;
    }

    .doc-list {
        margin-left: 0.2em;
    }

    .doc-list li {
        margin-bottom: 6px;
        font-size: 12px;
        width: 70%;
    }

    .doc-sign {
        font-size: 12px;
    }

    .doc-choice {
        padding-left: 0.4em;
    }

    .doc-business {
        font-size: 12px;
        margin-top: 12px;
    }

    .doc-lead {
        margin-bottom: 00px;
    }

    .doc-date {
        margin: 4px 0 10px;
    }

    .biz-row {
        gap: 1em;
        margin: 10px 0;
    }

    .biz-label {
        min-width: 5em;
    }

    .biz-seal {
        padding-right: 0.2em;
    }

    .doc-agreement {
        font-size: 12px;
        margin-top: 16px;
    }


}